// Main colours
$red: #FE2D02;
$white: #FFFFFF;
$black: #000000;
$primary: #4C4C4C;
$secondary: #666666;
$item: #6F6F6F;

// Additional colours
$lightShadow: #0000004D;
$strongShadow: #00000080;
$breadcrumb: #D3D3D3;
$dropdownDivider: #FFFFFF77;
$border: #414141;
$placeholder: #1A1A1A;