@import 'variables';

/* Override - Applied to the breadcrumb navigation */
.breadcrumb {
    margin-left: 20px;
    margin-bottom: 0px;
}

/* Styles the about me image */
.about-image {
    box-shadow: 0 0 4px 4px $lightShadow;
    margin: 20px;
}

/* Styles the about me text */
.about-text {
    margin: 20px 20px 20px 20px;
    padding: 30px;
    background-color: $item; 
    box-shadow: 0 0 4px 4px $lightShadow;
}

/* Adds fade in animation to about me text */
.fade {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.red-dash {
    color: $red;
}

.carousel-indicators {
    .active {
        background-color: $red;
    }
}

p, h1 {
    color: $white !important;
    text-shadow: 0 2px 6px $strongShadow;
}