@import 'variables';

/* Style sheet used for CSS that is used across multiple pages */

/* Used for navbar */
.header {
    background-color: $primary; 
    box-shadow: 0 12px 10px $strongShadow;
    margin-bottom: 30px;
}

/* Applied to all links in the navbar */
.nav-link, .navbar-brand, a, p, h1, h2, h3, h4, h5 {
    color: $white;
    font-family: "Readex Pro", serif;
    font-weight: 500;
}

/* Applied to all links in the navbar */
.nav-link:hover, .navbar-brand:hover {
    color: $red;
    text-shadow: 0 4px 8px $strongShadow;
    text-decoration: underline;
    text-underline-offset: 10px;
}

/* Custom navbar toggler */
.navbar-toggler {
    color: $white;
    border: none;

    &:hover {
        color: $red;
        border: none;
    }

    &:focus {
        box-shadow: none;
        color: $red;
    }
}

/* Applied to the link for current page within the navbar */
#current-page {
    text-decoration: underline;
    text-decoration-color: $red;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 10px;
}

/* Adds a progress bar based on scroll location on the page */
#progress-bar {
    width: 0;
    height: 3px;
    background-color: $red;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: width 0.3s ease;
}

/* Applied to the button which scrolls to the top of the page */
#scroll-to-top {
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 60px;
    height: 60px;
    color: $white;
    background-color: $primary;
    border-radius: 50%;
    border: 2px solid $border;
    visibility: hidden;
    transition: transform 0.3s ease, color 0.3s ease;
    animation: fadeIn 1s ease;

    &:hover {
        color: $red;
        transform: scale(1.2);
    }
}

/* Applied to scroll to top button for fade in animation */
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

/* Applied to the breadcrumb navigation */
.breadcrumb {
    margin-left: 2px;
}

/* Applied to navigatable breadcrumb entries */
.breadcrumb a {
    text-decoration: none;
    text-shadow: 0 4px 8px $strongShadow;
}

/* Applied to navigatable breadcrumb entries on hover */
.breadcrumb a:hover {
    color: $red;
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* Applied to current breadcrumb entry */
.breadcrumb-item.active {
    color: $breadcrumb;
    text-shadow: 0 4px 8px $strongShadow;
    font-family: "Readex Pro", serif;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: $red;
}

/* Applied to the dropdown button */
.dropdown-toggle {
    margin-left: 2px;
    margin-bottom: 25px;
    box-shadow: 0 0 4px 4px $lightShadow;
    color: $white;
    background-color: $item;

    &:hover {
        color: $red;
        box-shadow: 0 0 4px 4px $red;
    }
    
    /* Applied to the dropdown button */
    &:focus {
        color: $red;
        box-shadow: 0 0 4px 4px $red;
    }
}

/* Applied to dropdown menu */
.dropdown-menu {
    background-color: $item;
    border-radius: 0px;
    box-shadow: 0 0 4px 4px $lightShadow;

    a {
        color: $white;
    }

    a:hover {
        color: $red !important;
        background-color: $secondary;
        cursor: pointer;
    }
}

/* Override */
.dropdown-divider {
    border-top: 1px solid $dropdownDivider;
}

/* Applied to the currently chosen sorting dropdown option */
.current-sort {
    color: $red !important;
}

/* Applied to the currently chosen collection dropdown option */
.current-collection {
    color: $red !important;
}

/* Bootstrap override - Sets font for buttons */
.btn {
    font-family: "Readex Pro", serif;
    font-weight: 500;
    border-radius: 0px;
}

.button-outline {
    color: $white;
    position: relative;
    overflow: hidden;
    border: 2px solid $white;
    cursor: pointer;

    &:hover {
        color: $white;
        border: 2px solid $red;
    }
}

/* Custom line used underneath headings */
.underline {
    height: 3px;
    width: auto;
    border: 50%;
    background-color: $red;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px $strongShadow;
}

/* Applied to sub-headings */
.subheading-underline {
    margin-top: 10px !important; 
    margin-bottom: 15px !important; 
    text-decoration: underline !important; 
    text-underline-offset: 10px !important; 
    text-decoration-thickness: 2px !important;

    &.red {
        text-decoration-color: $red !important;
    }
}

.modal-content {
    box-shadow: 0 0 4px 4px $lightShadow;

    .modal-header {
        box-shadow: 0 0 4px 4px $lightShadow;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background-color: $primary;
    }
    
    .modal-body {
        background-color: $secondary;
    }

    .modal-close {
        color: $white;
        cursor: pointer;
        font-size: 1.5rem;

        &:hover {
            color: $red;
        }
    }

    .caption {
        opacity: 0.7;
    }
}

.link {
    text-decoration: underline;

    &:hover {
        color: $red;
        text-decoration: underline;
    }
}

.shadow-red {
    box-shadow: 0 0 3px 3px $red;
}

/* Applied as background for footer logos */
.fa-circle {
    color: $white;
}

/* Applied to footer logos */
.footer-icon {
    margin-left: 5px; 
    margin-right: 5px;
}

/* Keeps footer at the true bottom of the page + styles the background */
body {
    background-color: $secondary;
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 80px;
    box-sizing: border-box;
}

/* Applied to the footer */
footer {
    background-color: $primary;
    border-top: 2px solid $border;
    height: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
} 