body {
  background-color: #666666;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 80px;
  box-sizing: border-box;
}

a, p, h1, h2, h3, h4, h5, span, .btn {
  color: #FFFFFF !important;
  font-family: "Readex Pro", serif;
  font-weight: 500;
}

footer {
  background-color: #4C4C4C;
  border-top: 2px solid #FE2D02;
  height: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar {
  background-color: #4C4C4C;
  box-shadow: 0 12px 10px rgba(0, 0, 0, 0.5019607843);
  margin-bottom: 30px;
}
.navbar .navbar-brand {
  font-size: 30px;
}
.navbar .navbar-brand .nav-logo {
  width: 70px;
  margin-left: 10px;
  margin-right: 20px;
}
.navbar .navbar-toggler {
  color: #FFFFFF;
  border: none;
}
.navbar .navbar-toggler:hover {
  color: #FE2D02;
  border: none;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
  color: #FE2D02;
}
.navbar #current-page {
  text-decoration: underline;
  text-decoration-color: #FE2D02;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
}
.navbar .nav-link, .navbar .navbar-brand {
  color: #FFFFFF;
  font-family: "Readex Pro", serif;
  font-weight: 500;
}
.navbar .nav-link:link, .navbar .nav-link:visited, .navbar .navbar-brand:link, .navbar .navbar-brand:visited {
  color: #FFFFFF;
}
.navbar .nav-link:hover, .navbar .navbar-brand:hover {
  color: #FE2D02 !important;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5019607843);
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
}

.breadcrumb {
  margin-left: 2px;
}
.breadcrumb a {
  text-decoration: none;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5019607843);
}
.breadcrumb a:hover {
  color: #FE2D02 !important;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.breadcrumb .breadcrumb-item.active {
  color: #D3D3D3;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5019607843);
  font-family: "Readex Pro", serif;
}
.breadcrumb .breadcrumb-item::before {
  color: #FE2D02;
}

.dropdown .dropdown-toggle {
  margin-left: 2px;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.3019607843);
  color: #FFFFFF;
  background-color: #6F6F6F;
  border: 1px solid transparent !important;
}
.dropdown .dropdown-toggle:hover, .dropdown .dropdown-toggle:focus {
  color: #FE2D02;
  outline: 1px solid #FE2D02;
}
.dropdown .dropdown-menu {
  background-color: #6F6F6F;
  border-radius: 0px;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.3019607843);
}
.dropdown .dropdown-menu .dropdown-divider {
  border-top: 1px solid rgba(255, 255, 255, 0.4666666667);
}
.dropdown .dropdown-menu .current-sort, .dropdown .dropdown-menu .current-collection {
  color: #FE2D02 !important;
}
.dropdown .dropdown-menu a {
  color: #FFFFFF;
}
.dropdown .dropdown-menu a:hover {
  color: #FE2D02 !important;
  background-color: #666666;
  cursor: pointer;
}

.btn {
  border-radius: 0px;
}
.btn.button-outline {
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
  border: 2px solid #FFFFFF;
  cursor: pointer;
}
.btn.button-outline:hover {
  color: #FFFFFF;
  border: 2px solid #FE2D02;
}

.underline {
  height: 3px;
  width: auto;
  border: 50%;
  background-color: #FE2D02;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5019607843);
}

.subheading-underline {
  margin-top: 10px !important;
  margin-bottom: 15px !important;
  text-decoration: underline !important;
  text-underline-offset: 10px !important;
  text-decoration-thickness: 2px !important;
}
.subheading-underline.red {
  text-decoration-color: #FE2D02 !important;
}

.modal-content {
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.3019607843);
}
.modal-content .modal-header {
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.3019607843);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #4C4C4C;
}
.modal-content .modal-body {
  background-color: #666666;
}
.modal-content .modal-close {
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.5rem;
}
.modal-content .modal-close:hover {
  color: #FE2D02;
}
.modal-content .caption {
  opacity: 0.7;
}

.link {
  text-decoration: underline;
}
.link:hover {
  color: #FE2D02 !important;
  text-decoration: underline;
}

.shadow-red {
  border: 2px solid #FE2D02;
}

#progress-bar {
  width: 0;
  height: 3px;
  background-color: #FE2D02;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: width 0.1s ease;
}
#progress-bar.loading-flash {
  transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
  width: 100% !important;
}

#scroll-to-top {
  position: fixed;
  bottom: 10px;
  right: 20px;
  width: 60px;
  height: 60px;
  color: #FFFFFF;
  background-color: #4C4C4C;
  border: 1px solid #FFFFFF;
  visibility: hidden;
}
#scroll-to-top:hover {
  color: #FE2D02;
  border: 1px solid #FE2D02;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.footer-icon {
  margin-left: 5px;
  margin-right: 5px;
}
.footer-icon .fa-stack {
  vertical-align: top;
}
.footer-icon .fa-stack .fa-circle {
  color: #FFFFFF;
}

/*# sourceMappingURL=base.css.map */
