---
layout: base.njk
title: 400 Bad Request
stylesheet: error.css
permalink: "/400.html"
eleventyExcludeFromCollections: true
---
<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="error-message text-center p-5">
        <div class="card-body">
            <h1 class="error-code display-1">400</h1>
            <div class="underline"></div>
            <h3 class="error-reason mt-4 mb-4">Bad Request</h3>
            <p>The request could not be understood or was invalid</p>
            <a href="/" class="btn button-outline mt-3">Back to home</a>
        </div>
    </div>
</div>
