---
layout: base.njk
title: 404 Page Not Found
stylesheet: error.css
permalink: "/404.html"
eleventyExcludeFromCollections: true
---
<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="error-message text-center p-5">
        <div class="card-body">
            <h1 class="error-code display-1">404</h1>
            <div class="underline"></div>
            <h3 class="error-reason mt-4 mb-4">Page Not Found</h3>
            <p>The requested page could not be found or does not exist</p>
            <a href="/" class="btn button-outline mt-3">Back to home</a>
        </div>
    </div>
</div>
