---
layout: base.njk
stylesheet: index.css
script: index.js
---
<main class="container content">
    <div class="row align-items-center g-5 mb-5">
        <div class="col-md-7 text-column">
            <h1 class="subheading-underline red">DANIEL KASPRZYK</h1>
            <p>Hobbyist Software Developer specialising in Django Web Apps, creative projects and automation.</p>
            <div class="d-flex flex-wrap gap-3">
                <a href="/software/" class="btn btn-danger btn-lg rounded-0 px-4">VIEW SOFTWARE</a>
                <a href="/about-me/" class="btn button-outline btn-lg rounded-0 px-4">ABOUT ME</a>
            </div>
        </div>
        <div class="col-md-5 d-flex justify-content-center justify-content-md-end">
            <img src="/content/misc/Me.jpg" alt="Daniel Kasprzyk" class="img-fluid profile-img">
        </div>
    </div>

    <div class="mb-5 pt-3">
        <h2 class="h4 subheading-underline red section-title">FEATURED WORK</h2>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="card rounded-0 h-100 border-0 featured position-relative">
                    <p class="card-header header-netos">Work in Progress [Software]</p>
                    <div class="card-body p-4 d-flex flex-column">
                        <h3 class="h4 m-0 fw-bold">
                            <a href="/software/#netos" class="text-decoration-none stretched-link subheading-underline red">netOS</a>
                        </h3>
                        <p class="d-block mt-1">Cybersecurity Network Simulator</p>
                        <div class="card-separator"></div>
                        <p class="mb-4 small card-text">A powerful network simulation tool featuring cybersecurity offense and defence orchestration.<br><br>netOS allows you to build a realistic network environment then test it against various cyberattacks and scenarios of your choosing.</p>
                        <span class="mt-auto d-block align-self-start">
                            See More <i class="fa-solid fa-arrow-right-long ms-1 text-danger"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card rounded-0 h-100 border-0 featured position-relative">
                    <p class="card-header header-scout">Work in Progress [Novel]</p>
                    <div class="card-body p-4 d-flex flex-column">
                        <div>
                            <h3 class="h4 m-0 subheading-underline red">Scout</h3>
                            <p class="d-block mt-1">Psychological Tragedy Novel</p>
                        </div>
                        <div class="card-separator"></div>
                        <p class="mb-4 small card-text">A tragedy novel exploring the psychological weight of obsession and isolation.<br><br>Pavel is a former SIGINT student who embarks on a trip into Chornobyl to piece together his own past and untangle his life's collapse.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card rounded-0 h-100 border-0 featured position-relative">
                    <p class="card-header header-secpass">Work in Progress [Software]</p>
                    <div class="card-body p-4 d-flex flex-column">
                        <h3 class="h4 m-0 fw-bold">
                            <a href="/software/#secpass" class="text-decoration-none stretched-link subheading-underline red">SecPass</a>
                        </h3>
                        <p class="d-block mt-1">Browser Based Password Manager</p>
                        <div class="card-separator"></div>
                        <p class="mb-4 small card-text">A browser extension based password manager developed for my University of Huddersfield dissertation.<br><br>SecPass isolates your encrypted vault locally on your device, utilising a zero-knowledge server relay to sync across devices.</p>
                        <span class="mt-auto d-block align-self-start">
                            See More <i class="fa-solid fa-arrow-right-long ms-1 text-danger"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-5 pt-3">
        <h2 class="h4 subheading-underline red section-title">SECTIONS</h2>
        <div class="row g-4">
            <div class="col-md-6 col-lg-3">
                <a href="/software/" class="text-decoration-none d-block h-100">
                    <div class="card directory-card">
                        <h3 class="h5 mt-2 directory-heading subheading-underline red">SOFTWARE</h3>
                        <p class="small mt-2">Software, tools and websites I have developed to push my skills further and bring ideas to life.</p>
                        <span class="mt-4 d-block mt-auto align-self-start">
                            View Section <i class="fa-solid fa-arrow-right-long ms-1 text-danger"></i>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <a href="/articles/" class="text-decoration-none d-block h-100">
                    <div class="card directory-card">
                        <h3 class="h5 mt-2 directory-heading subheading-underline red">ARTICLES</h3>
                        <p class="small mt-2">Various technologically focused articles such as CTF writeups, cybsecurity tips and guides.</p>
                        <span class="mt-4 d-block mt-auto align-self-start">
                            View Section <i class="fa-solid fa-arrow-right-long ms-1 text-danger"></i>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <a href="/media/" class="text-decoration-none d-block h-100">
                    <div class="card directory-card">
                        <h3 class="h5 mt-2 directory-heading subheading-underline red">MEDIA</h3>
                        <p class="small mt-2">Photos I have taken whilst out and about exploring the world; a timeline of memories.</p>
                        <span class="mt-4 d-block mt-auto align-self-start">
                            View Section <i class="fa-solid fa-arrow-right-long ms-1 text-danger"></i>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <a href="/videogames/" class="text-decoration-none d-block h-100">
                    <div class="card directory-card">
                        <h3 class="h5 mt-2 directory-heading subheading-underline red">VIDEOGAMES</h3>
                        <p class="small mt-2">A collection of games I developed during my time at college studying Games Development.</p>
                        <span class="mt-4 d-block mt-auto align-self-start">
                            View Section <i class="fa-solid fa-arrow-right-long ms-1 text-danger"></i>
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>